.grouplist-main {
    height: 40vh;
    position: absolute;
    top: 15vh;
    z-index: 1;
    background-color: #aeaeae;
    border-bottom: 1px solid black;
}

.group-list-title {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

/* controls search input in GroupList and ListingList index files */
.group-input {
    transform: translateX(20%);
    margin-top: 5px;
    width: 70%;
}

.grouplist-list {
    margin-top: 20px;
    font-size: 22px;
    padding-left: 20px;
}

ul {
    list-style-type: none;
}


.list-g,
.list-g a {
    text-decoration: none;
    color: #152f84;
    margin-top: 8px;
}

.list-wrapper {
    width: 300px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 40vh;
}

.list-wrapper:hover {
    overflow: scroll;
    overflow-x: hidden;
}